.button1 {
    color: #ffffff;
    background-color: #888469;
    border: 1px solid #888469;
    padding: 16px 37px;
    /* box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15); */
    font-family: 'Calibri Light';
    font-size: 15px;
}

.button1:hover {
    background-color: #ffffff;
    color: #888469;
}