/* CSS Section Hero */
.section-hero {
    background-color: #f7f6f5;
    margin-bottom: 150px;
}

/* CSS Section reserva */
.section-reserva {
    margin-bottom: 100px;
}

/* CSS Section articulo */
.section-articulo {
    margin-bottom: 150px;
}

/* CSS Section mini-tienda */
.section-mini-tienda {
    background-color: #f7f6f5;
    padding-top: 50px;
    padding-bottom: 110px;
}

.mini-tienda-title {
    text-align: center;
}

.section-list { 
    margin-top: 50px;
}

/* CSS Section big-articulo */
.section-big-articulo {
    margin-top: 100px;
    margin-bottom: 100px;
}

