/* CSS Sections*/
.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    width: 50%;
    display: flex;
    justify-content: center;
}

.col-iz {
    width: 50%;
    display: flex;
    justify-content: left;
}

.col-dr {
    width: 50%;
    display: flex;
    justify-content: right;
}

/* CSS Section Hero */
.section-hero{
    background-color: #f7f6f5;
    margin-bottom: 150px;
}

/* CSS Section Hero */
.section-reserva {
    margin-bottom: 100px;
}

/* CSS Section Hero */
.section-articulo {
    margin-bottom: 150px;
}

/* CSS Section Hero */
.section-mini-tienda{
    background-color: #f7f6f5;
}

/* CSS Section Hero */
.section-big-articulo{
    margin-top: 100px;
    margin-bottom: 100px;
}

