.section-hero{
    display: flex;
    background-color: #f7f6f5;
}

.section-reserva {
    display: flex;
}

.section-articulo {
    display: flex;
}

.section-mini-tienda{
    display: flex;
    background-color: #f7f6f5;
}

.section-big-articuloa{
    display: flex;
}