.container {
    background-color: #e4dccb;    
    text-align: center;
    padding: 70px;
    min-height: 150px;  
}

.form-email {
    margin-top: 25px;
}

.input-form { 
    border: 0px solid;
    padding: 17px 37px;
    width: 40%;
    margin-right: 15px; 
}

.container-dos{
    background-color: white;
    text-align: center;    
}

.LinksRapidos{
    display: inline-table;
    font-family: 'calibri light';
    color:#70756f;
    text-align: left;
    vertical-align: middle;
    width: 20%;
    padding: 1%;    
}

.LinksRapidos-dos{
    display: inline-table;
    font-family: 'calibri light';
    color:#70756f;
    text-align: left;
    vertical-align: middle;
    width: 20%;
    padding: 1%;  
}

.final{
    display: inline-table;
    font-family: 'calibri light';
    color:#70756f;
    text-align: left;
    width: 47%;
}

.final-dos{
    display: inline-table;
    font-family: 'calibri light';
    color:#70756f;
    text-align: right;
    width: 47%;
}

.nombre-tienda {
    font-family: 'Yeseva Onev';
    font-size: 30px;
    color: #39494f;
}
