.header{
    background-color: #f3f0ea;
}

.header-wrapper{
    display:flex;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    padding-left: 5%;
    padding-right: 5%;
}

.wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.link-menu {
    color: #39494f !important;
    justify-content: space-between;
}

.nombre-tienda {
    font-family: 'Yeseva Onev';
    font-size: 36px;
    color: #39494f;
}